@CHARSET "UTF-8";

/* ============================== Compte ============================== */

#compte{
	
	position: absolute;
	top: 60px;
	left: 0px;
	height: 48px;
	width: 170px;
	background-color: #0066cc;
	border: 1px solid black;
	
}

/* ============================== Recherche ============================== */

#recherche{
	
	position: absolute;
	top: 61px;
	left: 1010px;
	height: 48px;
	width: 100%;
	background-color: #0066cc;
	
	
}

.search-logo{
	
	position: relative;
	top: 9px;
	left: 5px;
	
}

#recherche input{
	
	position: relative;
	top: -3px;
	left: 20px;
	width: 500px;
	
}

/* ============================== Menu Top ============================== */

#menuMessagerieTop{
	
	position: absolute;
	left: 170px;
	top: 60px;
	height: 48px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #0066cc;
	border: 1px solid black;
}

#menuMessagerieTop ul {
	
	float: left;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	list-style-type: none;
	
}

#menuMessagerieTop ul li{
	
	float: left;
	display: inline-block;
	list-style-type: none;
	width: 134px;
	padding: 14px 16px;
	border-right: 1px solid black;
}

#menuMessagerieTop ul li:hover{
	
	background-color: #004080;
}

#menuMessagerieTop ul li a{
	
	color: white;
	text-align: center;
	text-decoration: none;
	
}


/* ============================== Menu Left  ============================== */

#menuMessagerieLeft{
	
	position: absolute;
	top: 109px;
	left: 0px;
	height: 100%;
	width: 170px;
	margin: 0px;
	padding: 0px;
	background-color: #0066cc;
	
}

#menuMessagerieLeft ul {
	
	float: left;
	margin: 0px;
	padding: 0px;
	height: 100%;
	display: block;
	list-style-type: none;
	border: 1px solid black;
}

#menuMessagerieLeft ul li{
	
	float: left;
	display: block;
	width: 135px;
	list-style-type: none;
	padding: 14px 17px;
	border-bottom: 1px solid black;
	
}

#menuMessagerieLeft ul li:hover{
	
	background-color: #004080;
}

#menuMessagerieLeft ul li a{
	
	color: white;
	width: 169px;
	height: 49px;
	text-decoration: none;
	
}

/*  ============================== Content message ============================== */

#content{
	
	position: absolute;
	overflow: visible;
	top: 110px;
	left: 170px;
	width: 100%;
	height: 100%;
	background-color: white;
	
	
}

#content h1{
	
	color: blue;
	
	
}

#content tr{
	
	
	border-spacing: 0px;
}

#content th{
	
	
	border-spacing: 0px;
}

#destination{
	display: inline-block;
	width: 500px;
	height: 30px;
	background-color:  #ebebe0;
}

#objet{
	display: inline-block;
	width: 500px;
	height: 30px;
	background-color:  #ebebe0;
}

#body{
	display: inline-block;
}

#content textarea{
	display: block;
	width: 800px;
	height: 425px;
	background-color:  #ebebe0;
}

#repondre{
 visibility: hidden;	
}

#supprimer{
	 visibility: hidden;
}

#deplace{
	 visibility: hidden;
}

.msgErr{
	
	color: red;
	
}

.game-logo{
	
	position: relative;
	left: 30px;
	top: 8px;
}
