@CHARSET "UTF-8";

.background{
	
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: -99;
	
}

.logo{
	
	display: block;
	margin-top: 10px;
	margin-left: 45%;
    margin-right: 50%;
	width: 100px;
	height: 100px;
	
}

.connexion{
	
	display: block;
	margin-left: 35%;
    margin-right: 50%;
    margin-top: 150px;
	width: 450px;
	height: 200px;
	background-color: rgba(255,255,255,0.6);
	
}

.enregistrement{
	
	display: block;
	margin-left: 35%;
    margin-right: 50%;
    margin-top: 150px;
	width: 450px;
	height: 200px;
	background-color: rgba(255,255,255,0.6);
}

.bouton{
	
	position: relative;
	display: block;
	left: 365px;
	width: 85px;
}

#password{
	
	position: relative;
	left: 42px;
}

#login{
	
	position: relative;
	left: 15px;
}